
//  тут шрифти 400 Arsenal ==================>
.arsenal_title {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif !important;
   
    &_0 {
        font-size: 12px;
    }
    &_1 {
        font-size: 14px;
    }
    &_2 {
        font-size: 16px;
    }
    &_7 {
        font-size: 40px;
    }
    &_9 {
        font-size: 70px;
    }
}


//  тут шрифти 300 Manrope ==================>
.sub_title {
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    font-weight: 300;
   
    &_0 {
        font-size: 12px;
    }
    &_1 {
        font-size: 14px;
    }
    &_2 {
        font-size: 16px;
    }
}

//  тут шрифти 400 Manrope ==================>
.regular_title {
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    
    &_0 {
        font-size: 12px;
    }
    &_1 {
        font-size: 14px;
    }
    &_2 {
        font-size: 16px;
    }
    &_3 {
        font-size: 18px;
    }
    &_4 {
        font-size: 20px;
    }

}

//  тут шрифти 500 Manrope ==================>
.middle_title {
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    
    &_0 {
        font-size: 12px;
    }
    &_1 {
        font-size: 14px;
    }
    &_2 {
        font-size: 16px;
    }

}

//  тут шрифти 600 Manrope ==================>
.standart_title {
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    
    &_0 {
        font-size: 12px;
    }
    &_1 {
        font-size: 14px;
    }
    &_2 {
        font-size: 16px;
    }
    &_3 {
        font-size: 18px;
    }
}
//  тут шрифти 700 Manrope ==================>
.bold_title {
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    
    &_0 {
        font-size: 12px;
    }
    &_1 {
        font-size: 14px;
    }
    &_2 {
        font-size: 16px;
    }
    &_6 {
        font-size: 50px;
    }
    
}
//  тут шрифти 800 Manrope ==================>
.bigger_title {
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
  
    &_0 {
        font-size: 12px;
    }
    &_1 {
        font-size: 14px;
    }
    &_2 {
        font-size: 16px;
    }
    &_4 {
        font-size: 20px;
    }
}



.color {
    &_black {
        color: #000000;
    }
    &_white {
        color: #fff;
    }
    &_red {
        color: #EB5757;
    }
    &_green {
        color: #73CAC2;
    }
    &_gray {
        color: #586B7A;
    }
    &_blue {
        color: #103989;
    }
}