



.btn_standart {
        transition: all .2s;
        min-width: 170px;
        display: block;
        cursor: pointer;
        width: -moz-fit-content;
        width: fit-content;
        letter-spacing: normal;
        border-radius: 4px;
        text-align: center;
        display: flex;
        justify-content: center;
        border: none;
        outline: none;
        padding: 14.5px 10px;

        &_green {
            background: #73CAC2;
            box-shadow: 0px 10px 10px rgba(115, 202, 194, 0.5);
            border-radius: 8px;
            border: solid 1px transparent !important;
            &:hover {
                border: solid 1px rgb(92, 167, 159) !important;
                background: rgb(92, 167, 159);
            }
        }
      
       
}

